@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #66c0f4;
    --color-secondary: #2a475e;
    --color-background: #171a21;
    --color-background-two: #1b2838;
    --color-text: #c7d5e0;
    --color-tertiary: #e278ff;
    --color-tertiary-transparent: #e278ff70;
    --color-link: #d9ebb9;
    --color-yours: #ff0095;
    --color-yours-transparent: #ff009570;
    --color-gifted: #5900ff;
    --color-gifted-transparent: #5900ff70;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  ::-webkit-scrollbar {
    /* Firefox */
    display: none;
  }
}

:has(> .middleline) {
  position: relative;
}

.tilt-wrapper {
  perspective: 800px;
}

.tilt-card {
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out;
  will-change: transform;

  background: white;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
