@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #66c0f4;
    --color-secondary: #2a475e;
    --color-background: #171a21;
    --color-background-two: #1b2838;
    --color-text: #c7d5e0;
    --color-tertiary: #e278ff;
    --color-tertiary-transparent: #e278ff70;
    --color-link: #d9ebb9;
    --color-yours: #ff0095;
    --color-yours-transparent: #ff009570;
    --color-gifted: #5900ff;
    --color-gifted-transparent: #5900ff70;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  ::-webkit-scrollbar {
    /* Firefox */
    display: none;
  }
}

:has(> .middleline) {
  position: relative;
}

.steal-btn:disabled {
  cursor: default;
}

.steal-btn:-moz-focusring {
  outline: auto;
}

.steal-btn svg {
  display: block;
  vertical-align: middle;
}

.steal-btn [hidden] {
  display: none;
}

.steal-btn {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.steal-btn span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.steal-btn .steal-marquee {
  --spacing: 7em;
  --start: 0em;
  --end: 7em;
  -webkit-animation: steal-marquee 1.5s linear infinite;
  animation: steal-marquee 1.5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow:
    #000000 var(--spacing) 0,
    #ffffff calc(var(--spacing) * -1) 0,
    #aa00aa calc(var(--spacing) * -2) 0;
}

.steal-btn:hover {
  background-color: #ff7b8d;
}

.steal-btn:hover .steal-marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.steal-btn:hover .steal-text {
  opacity: 0;
}

@-webkit-keyframes steal-marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes steal-marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}
